{% extends 'tasks/base.html' %}
{% load blog_tags %}

{% block content %}
<div class="info">

    <div class="sidebar">
        <ul>
            {{ cat_selected }}
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'index' %}">Все категории</a></li>
            {% endif %}
            {% show_categories cat_selected=cat_selected%}
        </ul>
    </div>
    <div class="main">

        <ul><h1>Интересная информация</h1>
            {% for p in posts %}
            <li>
                <p class="first">Категория: {{ p.cat }}</p>
                <div class="text">
                    {% if p.photo %}
                    <img src="{{ p.photo.url }}" class="image" alt="">
                    {% endif %}
                    <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
                    <p>{{ p.content|truncatewords:50 }}</p>
                </div>
                <p class="date">Дата:{{ p.time_update|date:"d-m-Y H:i" }}</p>
            </li>
            {% endfor %}
        </ul>


    </div>
</div>
{% endblock %}