{% extends 'tasks/base.html' %}

{% block content %}

<h1>Создание задачи</h1>
<h3>{{ error }}</h3>
<form method="post" class="bg">
    {% csrf_token %}
    {{ form }}
<!--    {{ form.title.label }}-->
<!--    {{ form.title }}-->
<!--    {{ form.memo.label }}-->
<!--    {{ form.memo }}-->
<!--    {{ form.memo_images.label }}-->
<!--    {{ form.memo_images }}-->
<!--    {{ form.line.label }}-->
<!--    {{ form.line }}-->
<!--    {{ form.user.label }}-->
<!--    {{ form.user }}-->


    <div class="center">
        <button class="btn">Создать</button>
    </div>

</form>

{% endblock %}