{% extends 'tasks/base.html' %}

      {% block content %}

<h1>Задачи</h1>

      {% for task in tasks %}
      <table border="1">
            <tbody>
            <tr>
                  <td>{{ task.created}}</td>
                  <td>
                        <a href="{% url 'viewtask' task.id %}">
                        {% if task.important %}
                        <b>{{ task.title}}</b>
                        {% else %}
                        {{ task.title}}
                        {% endif %}
                        </a>
                  </td>
                  <td> {% if task.memo %}
                  - {{ task.memo  }}
                  {% endif %}
                  </td>
            </tr>
            </tbody>

      </table>

            <


      {% endfor %}


      {% endblock %}