{% extends 'tasks/base.html' %}

      {% block content %}

<h1>Задачи</h1>

<ul>
      {% for task in tasks %}
      <li>
            <p> {{ task.created}}</p>
            <a href="{% url 'viewtask' task.id %}">
            {% if task.important %}
            <b>{{ task.title}}</b>
            {% else %}
            {{ task.title}}
            {% endif %}

            {% if task.memo %}
             - {{ task.memo  }}
            {% endif %}
            </a>

      </li>
      {% endfor %}
</ul>

      {% endblock %}