{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}

  <!-- Main Section -->
  <main class="inbox my-xl">
      {{ form.subject.label }}
      <a href="#" class="btn btn--sub btn--lg">Send Message </a>
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ unread_count }}</span>)</h3>
      <ul class="messages">
        {% for message in message_request %}
        {% if message.is_read == False %}
        <li class="message message--unread">
        {% else %}
        <li class="message">
        {% endif %}
          <a href="{% url 'message' message.id %}">
            <span class="message__author">{{ message.name }}</span>
            <span class="message__subject">{{ message.subject }}</span>
            <span class="message__date">{{ message.created }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>


     <div class="content-box">
            <div class="formWrapper">

                <form class="form" method="POST">
                    {% csrf_token %}
                    <p></p>
                    <div class="form__field">

                        <label for="formInput#text">{{ form.recipient.label }}</label>
                        {{ form.recipient }}
                    </div>

                    <!-- Input:Text -->
                    <div class="form__field">


                        <label for="formInput#text">{{ form.subject.label }}</label>
                     {{ form.subject }}
                    </div>
                    <div class="form__field">
                        <label for="formInput#text">{{ form.body.label }}</label>
                     {{ form.body }}
                    </div>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
  </main>

{% endblock %}