{% extends 'tasks/base.html' %}

{% block content %}

<h2>{{ task.title }}</h2>
<h3>{{ error }}</h3>
<form class="view_task" enctype="multipart/form-data">

</form>

<!--{{ form }}-->
<div class="but">

    <form method="post" class="view_task" enctype="multipart/form-data">
        {% csrf_token %}
                {% for f in form %}
                {{ f.label }}
                 {{ f }}
        <p></p>
            {% endfor %}
        <button class="btn">Сохранить</button>
    </form>
    <form action="{% url 'completetask' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn good" >Выполнено</button>
    </form>
    <form action="{% url 'deletetask' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn remove">Удалить</button>
    </form>
</div>
{% endblock %}