{% extends 'tasks/base.html' %}

{% block content %}

<h2>{{ task.title }}</h2>
<h3>{{ error }}</h3>
<!--<form class="view_task" enctype="multipart/form-data">-->

<!--</form>-->

<!--{{ form }}-->
<div class="but_1">
<!--class="view_task" -->
    <form method="post" class="view_task" enctype="multipart/form-data">
<!--        {% csrf_token %}-->
<!--                {% for f in form %}-->
<!--                {{ f.label }}-->
<!--                 {{ f }}-->
<!--        {% endfor %}-->
        <div class="b2">

             <p>{{ form.user.label }}
            {{ form.user }}</p>
             {{ form.title.label }}
             {{ form.title }}
             {{ form.lines.label }}
            {{ form.lines }}
              {{ form.place.label }}
              {{ form.place }}
        </div>
        <div class="b5">
            <div class="b3">
                {{ form.memo.label }}
                 {{ form.memo }}
                {{ form.memo_images.label }}
                  {{ form.memo_images }}
             </div>
            <div class="b4">
                 {{ form.decision.label }}
                 {{ form.decision }}
                {{ form.decision.label }}
                  {{ form.decision_images }}
             </div>
        </div>



    {{ form.important }}
        <p></p>

        <button class="btn">Сохранить</button>
    </form>
    <form action="{% url 'completetask' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn good" >Выполнено</button>
    </form>
    <form action="{% url 'deletetask' task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn remove">Удалить</button>
    </form>
</div>
{% endblock %}