{% extends 'tasks/base.html' %}

{% block content %}

<h2>{{ task.title }}</h2>
<h3>{{ error }}</h3>

<div class="but">
    <form method="post" class="view_task">
        {% csrf_token %}
        {{ form }}
        <button class="btn">Сохранить</button>
    </form>
    <form action="{% url 'completetask' task.id %}" method="post">
        {% csrf_token %}
        <button class="btn good">Выполнено</button>
    </form>
    <form action="{% url 'deletetask' task.id %}" method="post">
        {% csrf_token %}
        <button class="btn remove">Удалить</button>
    </form>
</div>
{% endblock %}