<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Как работает программа</h1>
    <p>Первым делом необходимо выбрать количество символов. Пароль можно усложнить, добавив в него буквы верхнего регистра, цифры или спецсимволы.  </p>
    <p>
        <a href="{% url 'home' %}">Вернуться на главную</a>
    </p>
</div>
</body>
</html>